body {
    display: flex;
    margin: 50px 0 0 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color :cornflowerblue;
    font-family :cursive;
}

#Results {
    margin-top: 30px;
    width: 300px;
    text-align: center;
    height: 115px;
    border: solid 2px black;
}

#playRoom {
    display: flex;
    justify-content: center;
     flex-direction: column;
    align-items: center;
    border: solid 2px white;
    height: 300px;
    width: 500px;
    gap: 30px;
}

button {
    height: 30px;
    width: 100px;
}